@media screen and (min-width:768px) {
    p {
        color: white;
        padding: 5px 3% 5px 5px;
    }
    .box {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
}

@media screen and (max-width:768px) {
    .box {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        color: white;
    }
}