@media screen and (min-width:768px) {
    .navbar {
        color: white;
        margin:auto;
    }
    .box {
        width: 1350px;
        border: 1px solid black;
        background-color:black; 
    }
}

@media screen and (max-width:768px) {
    .box {
        height: 350px;
        width: 312px;
        border: 1px solid black;
        background-color: black;
    }
}